In [8]:
import boto3
s3 = boto3.client('s3')
res = s3.upload_file('./data/dataset_0919.txt', 'wilcrawling', 'dataset-0920.txt')

In [10]:
import pandas as pd
data = pd.read_csv("./data/train.txt", delimiter='\t')

In [11]:
data

      label                                           document
0         1                                          지금봐도 대단ㅎㅎ
1         0                           장인 정신으로만 똘똘뭉치면 한국은 살만한가?
2         1  그냥 옛추억에 빠진다..진짜 빠진다...그러나 배신은 어디나 따른다 우리또한 그랬다...
3         1                                     레옹 안본자 평가하지마라.
4         0                            철학적인건 그렇다치고 일단 너무 지루하다.
...     ...                                                ...
2237      1  소박,담백하고 순수한 영화!그들의 삶은 정말 아름답지만, 맑은 얼굴을 한 비구니 스...
2238      0                                                 지루
2239      1                                   삶에 엄청난 활력소가 된 영화
2240      1               상큼한 매력이 돋보이는 배우들의 출연으로 매우 재밌는 드라마였다.
2241      0                          볼만했는데 9점급은 아님. 그냥 5~6점정도?

[2242 rows x 2 columns]