In [8]:
import boto3
s3 = boto3.client('s3')
res = s3.upload_file('./data/dataset_0919.txt', 'wilcrawling', 'dataset-0920.txt')

In [8]:
import pandas as pd
data = pd.read_csv("./data/train.txt", delimiter='\t')

In [9]:
data

      label                                           document
0         1                                             지금봐도대단
1         0                                장인정신으로만똘똘뭉치면한국은살만한가
2         1  그냥옛추억에빠진다진짜빠진다그러나배신은어디나따른다우리또한그랬다우리지금생각하니웃기군지금...
3         1                                        레옹안본자평가하지마라
4         0                                 철학적인건그렇다치고일단너무지루하다
...     ...                                                ...
2237      1  소박담백하고순수한영화그들의삶은정말아름답지만맑은얼굴을한비구니스님들에게서마음깊은곳의슬픔...
2238      0                                                 지루
2239      1                                       삶에엄청난활력소가된영화
2240      1                       상큼한매력이돋보이는배우들의출연으로매우재밌는드라마였다
2241      0                                    볼만했는데점급은아님그냥점정도

[2242 rows x 2 columns]

In [1]:
a =  ['1', '지금봐도대단']

In [6]:
data = a[1]

In [7]:
data

'지금봐도대단'

In [12]:
input_file = pd.read_csv("./data/train.txt", delimiter='\t')

In [17]:
def _read_file(cls, input_file, quotechar=None):
    """Reads a tab separated value file."""
    with open(input_file, "r", encoding="utf-8") as f:
        lines = []
        for line in f:
            lines.append(line.strip())
        return lines

In [21]:
def _create_examples(self, lines, set_type):
    """Creates examples for the training and dev sets."""
    examples = []
    for (i, line) in enumerate(lines[1:]):
        line = line.split('\t')
        guid = "%s-%s" % (set_type, i)
        text_a = line[1]
        label = int(line[0])
        if i % 1000 == 0:
            logger.info(line)
        examples.append(InputExample(guid=guid, text_a=text_a, label=label))
    return examples